.sideBar {
  background-color: var(--appcolor);
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #5e6872;
}
.project_details {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 13px;
  font-size: 20px;
}
/* .project_about {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  margin-top: 7px;
} */
.project_name {
  font-size: 15px;
  color: var(--white);
}
/* .project_qote {
  font-size: 13px;
  color: var(--lightgray);
} */

.dropIcon {
  display: flex;
}
.section_one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.section_one li {
  list-style: none;
  color: var(--white);
  text-decoration: none;
}
.plan {
  color: var(--lightgray);
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
  display: flex;
  letter-spacing: 2px;
}

.planlist {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}
.listitems {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 8px 16px 0px rgba(39, 35, 35, 0.2);
  padding: 0.4em 0.6em;
  transition: 0.1s ease;
  border: 1px solid var(--appcolor);
  background-color: #032f61;
  border-radius: 6px;
  text-decoration: none;
  color: var(--white);

  /* display: flex;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(39, 35, 35, 0.2);
    padding: 0.45em 0.6em;
    transition: 0.3s ease;
    border: 1px solid var(--appcolor);
    background-color: #032f61;
    border-radius: 8px; */
}
.listitems:hover {
  background-color: #034289;
  transform: scale(1.08);
  transition: 0.2s ease;
  color: var(--lightgray);
}
.separation_two {
  width: 100%;
  height: 0.18px;
  background-color: #5e6872;
  margin-top: 6px;
}

.section_two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.section_two li {
  list-style: none;
  color: var(--white);
}
.doings {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}
.doingstxt {
  color: var(--lightgray);
  font-size: 13.5px;
  font-weight: 500;
  margin-top: 20px;
  display: flex;
  letter-spacing: 1px;
}
.doinglist {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(39, 35, 35, 0.2);
  padding: 0.35em 0.6em;
  transition: 0.3s ease;
  border: 1px solid var(--appcolor);
  background-color: #032f61;
  border-radius: 6px;
}
.doinglist:hover {
  background-color: #034289;
  transform: scale(1.08);
  transition: 0.2s ease;
  color: var(--lightgray);
}
.separation_three {
  width: 100%;
  height: 0.18px;
  background-color: #5e6872;
  margin-top: 6px;
}
.section_three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firm p {
  font-size: 12.5px;
  color: var(--lightgray);
  margin-left: 8px;
}
.learnmore p {
  font-size: 13.5px;
  color: #0656b2;
  cursor: pointer;
}
.learnmore p:hover {
  text-decoration: underline;
}
