/* Join.module.css */

.JoinPage {
  background-color: var(--appcolor);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.JoinContainer .logo {
  width: 10vmax;
}

.JoinContainer h1 {
  color: white;
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  text-align: center;
  padding: 1vmax;
  font-family: "Roboto";
  box-sizing: border-box;
}

.joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
  border-radius: 5px;
}

.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Roboto";
  outline: none;
  font-size: 1.2vmax;
  background-color: #032f61;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: #034289;
}
