.subnavbar {
  background-color: var(--appcolor);
  width: 100%;
  padding: 10px;
  border-bottom: 0.5px solid #5e6872;
}
.headersection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.subnav {
  font-size: 15px;
  display: flex;
  gap: 20px;
  padding: 0;
}

.subnav li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.subnav li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.subnav li a:hover {
  color: grey;
}
